
/*vce document*/
/*basic setting---------------------------------------------------*/
/*----------------------------------------------------------------*/

body {
	background-color: #c4cada;
	font-size: 14px;
	color: #30393d;
	margin: 0;
	padding: 0 1em 0 3em;
	font-family: Verdana, sans-serif;
}
h1 {
	padding: 0.3em 1em; 
	margin: 0 0 0.5em 0;  
	font-size: 2em;
	clear: both;
	background-color: #103675;
	color: #fff;
	position: relative;
	left: -0.5em;
}
h2 {
	padding: 2px 0.5em; 
	margin: 1.7em 0 0.5em 0; 
	font-size: 1.1em;  
	background-color: #485d8a;
	position: relative;
	left: -1em;
	color: #e2e2e2;
	border: 1px outset #485d8a;
}
h3 {
	padding: 2px 0.3em; 
	margin: 1.7em 0 0.5em 0; 
	font-size: 1.0em;  
	border-left: #7f95bb 10px solid; 
	position: relative;
	left: -1em;
}
h4 {
	margin-top: 5px; 
	font-size: 1.1em;  
	line-height: 120%;
	background-color: #000;
}
p {
	font-size: 1em;
	margin: 0.3em 1em 0.8em 0;
	line-height: 150%;
	font-family: Verdana, sans-serif;
}
pre {
	font-size: 0.9em;
	line-height: 130%;
	font-family: monospace, sans-serif;
	background-color: #ced5e1;
	padding: 5px;
	margin: 1em 2em 1em 1em;
	border: 1px dashed #7889ae;
}
code {
	font-size: inherit;
	font-family: monospace, sans-serif;
}
img {
	margin: 0.5em;
}
table {
	font-size: 1em;
	color: #40494d;
	margin: 2px 0;
	line-height: 150%;
	font-family: Verdana, sans-serif;
}
a:link {
	background: none transparent scroll repeat 0% 0%; 
	color: #0055aa; 
	text-decoration: underline;
}
a:visited {
	background: none transparent scroll repeat 0% 0%; 
	color: #003388
}
a:hover {
	color: #3377bb; 
	text-decoration: underline
}
dl dt {
	list-style-image: url(../images/caption03.gif); 
	border-left: 5px solid #fff;
	margin: 10px;
	font-size: 1.1em;
}

table#bb {
	border-collapse: collapse;
	border: 1px solid #898989;
	margin: 0.5em 0 1em 0;
}
table#bb td {
	border: 1px solid #898989;
	padding: 0.3em;
}


/*ul, ol setting--------------------------------------------------*/
/*----------------------------------------------------------------*/
ul li,
ol li {
	margin: 2px 1em 2px 0;
}
ul li p,
ol li p {
	margin: 5px 1.5em 15px 0;
	font-size: 0.9em;
	line-height: 1.3em;
}
ul li ul,
ol li ul {
	font-size: 0.9em;
	margin: 5px 0 0 0em !important;
	margin: 5px 0 0 3em;
}
ul li ul li,
ol li ul li{
	font-size: 1.0em;
	margin: 0.5em 0;
	font-weight: normal;
}
ul li ul li p,
ol li ul li p {
	font-size: 1.0em;
}
#lib li {
	font-weight: bold;
}
#lib li p,
#lib li pre {
	font-weight: normal;
}

#lipre {
	list-style: none outside;
	margin-left: -4em;
}
#lipre li {
	margin-top: 2.5em;
}
#lipre li p {
	margin-left: 3em;
}


/*footer setting--------------------------------------------------*/
/*----------------------------------------------------------------*/
div#footer {
	padding: 0.5em 1em; 
	margin: 0 0 0em 0;  
	font-size: 0.8em;
	clear: both;
	background-color: #103675;
	color: #fff;
	position: relative;
	left: -1.1em;
	text-align: center;
}

/*chlog page setting----------------------------------------------*/
/*----------------------------------------------------------------*/
div.chlog h3 {
	background-color: #c4cada;
border: 0px;
	color: #30393d;
}
div.chlog table {
	width: 95%;
	font-size: 0.85em;
	}
div.chlog table tr th {
	padding: 4px 3px 3px 17px;
	vertical-align: top;
	font-weight: normal;
	border-top: 1px dashed #283c78;
	text-align: left;
	color: #283c78;
	background-image: url(images/dev_wb.gif);
	background-repeat: no-repeat;
	background-position: 0.4em 0.6em !important;
	background-position: 0.4em 0.75em;
	width: 7em;
}
div.chlog table tr td {
	padding: 3px;
	border-top: 1px dashed #283c78;
}
div.chlog table tr td ul {
	margin: 0 0 0 -1em !important;
	margin: 0 0 0 1em;
	list-style-position: outside;
}
#borderbottom {
	border-bottom: 1px dashed #283c78;
}


/*vce-api setting-------------------------------------------------*/
/*----------------------------------------------------------------*/
table#categoryindex {
	width: 700px;
	border-collapse: collapse;
	border: 1px solid #ced5e1;
	margin: 5px 0 20px 0;
	padding: 0;
	}

table#categoryindex th {
	padding: 0 0.3em;
	background-color: #ced5e1;
	border: 0px;
	text-align: left;
	font-size: 1em;
	font-weight: normal;
}

table#categoryindex td {
	padding: 0 0.3em;
	background-color: #ced5e1;
	border: 0px solid #898989;
}

td#categoryindex_text {
	background-color: #ced5e1;
	}
	
	
	
/*vce-tool, vce-file setting--------------------------------------*/
/*----------------------------------------------------------------*/
table#funcdef,
table#tooldef,
table#filedef {
	width: 700px;
	border-collapse: collapse;
	border: 1px solid #898989;
	margin: 5px 0 20px 0;
	padding: 0;
	}

table#funcdef td,
table#tooldef td,
table#filedef td  {
	border: 1px solid #898989;
	padding: 0.1em 0.3em;
}

table#funcdef th,
table#tooldef th,
table#filedef th {
	width: 120px;
	font-weight: normal;
	text-align: left;
	padding: 0.1em 0.3em;
	border: 1px solid #898989;
	}

table#funcdef td,	
table#tooldef td,
table#filedef td {
	border: 1px solid #898989;
	padding: 0.1em 0.3em;
}

th#funcdef_title,
th#tooldef_title,
th#filedef_title {
	padding: 0.3em;
	background-color: #7f95bb;
	border: 1px solid #898989;
	text-align: left;
	font-size: 1.1em;
	font-weight: bold !important;
}